@media screen and (min-width: 460px) {
  .wh_item_date:hover {
    background: #fff;
    cursor: pointer;
  }
}
* {
  margin: 0;
  padding: 0;
}

.wh_container {
  max-width: 410px;
  margin: auto;
  height: 30rem;
}

li {
  list-style-type: none;
}
.wh_top_changge {
  display: flex;
  border-bottom: 1px solid #eee;
  align-items: center;
}

.wh_top_changge li {
  cursor: pointer;
  display: flex;
  color: #666;
  font-size: 18px;
  flex: 1;
  justify-content: center;
  align-items: center;
  height: 47px;
}

.wh_top_changge .wh_content_li {
  cursor: auto;
  flex: 2.5;
}
.wh_content_all {
  font-family: -apple-system, BlinkMacSystemFont, "PingFang SC",
    "Helvetica Neue", STHeiti, "Microsoft Yahei", Tahoma, Simsun, sans-serif;
  background-color: #fff;
  width: 100%;
  overflow: hidden;
  padding-bottom: 8px;
  height: inherit;
}

.wh_content {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  width: 100%;
  border-right: 1px solid #eee;
}

.wh_content:first-child .wh_content_item_tag,
.wh_content:first-child .wh_content_item {
  color: #ddd;
  font-size: 1.5rem;
}

.wh_content_item,
.wh_content_item_tag {
  font-size: 1.4rem;
  width: 100%;
  text-align: center;
  color: #666;
  position: relative;
}
.wh_content_item {
  height: 5rem;
  border-bottom: 1px solid #eee;
  border-left: 1px solid #eee;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  flex-wrap: wrap;
}

.wh_content_item .mark {
  position: absolute;
  top: .2rem;
  left: .2rem;
  font-size: .9rem;
  color: #444;
}
.wh_content_item .mark.sleep {
  color: #31a443;
}
.wh_content_item .mark.leave {
  color: #fd6efe;
}


.wh_top_tag, .wh_item_date {
  font-size: 1.2rem;
  width: calc(100% / 7);
  height: 3.2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.wh_item_date {
  font-size: 1.4rem;
  color: #222;
  margin-top: 1rem;
}

.wh_jiantou1, .wh_jiantou2 {
  width: 1.2rem;
  height: 1.2rem;
  border-top: .2rem solid #ccc;
  border-left: .2rem solid #ccc;
  transform: rotate(-45deg);
}

.wh_jiantou1:active,
.wh_jiantou2:active {
  border-color: #ddd;
}

.wh_jiantou2 {
  border-left: none;
  border-right: .2rem solid #ccc;
  transform: rotate(45deg);
}
.wh_content_item > .wh_isMark {
  margin: auto;
  border-radius: 100px;
  background: blue;
  z-index: 2;
}
.wh_content_item .wh_other_dayhide {
  color: #bfbfbf;
}
.wh_content_item .wh_want_dayhide {
  color: #bfbfbf;
}
.wh_content_item .wh_isToday {
  text-decoration: underline;
}
.wh_content_item .wh_chose_day {
  background: #69b0fe;
  border-radius: 100px;
  color: #fff;
}